<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Markets today</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "description": "",
        "proName": "BINANCE:BTCUSDT"
      },
      {
        "description": "",
        "proName": "BINANCE:ETHUSDT"
      },
      {
        "description": "",
        "proName": "BINANCE:SOLUSDT"
      },
      {
        "description": "",
        "proName": "BINANCE:BNBUSDT"
      },
      {
        "description": "",
        "proName": "BINANCE:GALAUSDT"
      },
      {
        "description": "",
        "proName": "BINANCE:ADAUSDT"
      },
      {
        "description": "",
        "proName": "CRYPTOCAP:TOTAL"
      },
      {
        "description": "",
        "proName": "BINANCE:FTMUSDT"
      },
      {
        "description": "",
        "proName": "BINANCE:XRPUSDT"
      },
      {
        "description": "",
        "proName": "BINANCE:DYDXUSDT"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->